---
import { Image } from "astro:assets"
import Home from "../../public/highpeanutpfp.png"
import Github from "../images/Githubicon.svg"
import Discord from "../images/Discordicon.svg"
import Linkedin from "../images/Linkedinicon.svg"
import "../global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/highpeanutpfp.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>DrinkLiquidIce</title>
	</head>
	<body class="bg-gradient-to-r from-yellow-200 to-green-300 flex flex-col h-screen bg-fixed w-screen">
		<header class=" flex flex-row gap-4">
			<a href="/" class=" my-5 ms-4 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110">
				<Image src={Home} alt="Home" class="w-10 h-10 rounded-full" />
			</a>
			<a href="https://github.com/drinkliquidice" target="_blank" class=" my-5 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110">
				<Image src={Github} alt="Github" class="w-10 h-10" />
			</a>
			<a href="https://discord.com/users/637026487647600701" target="_blank" class="my-5 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110">
				<Image src={Discord} alt="Discord" class="w-10 h-10" />
			</a>
			<a href="https://www.linkedin.com/in/chloe-zhao-31b90927a/" target="_blank" class="my-5 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110">
				<Image src={Linkedin} alt="Linkedin" class="w-10 h-10" />
			</a>
		</header>
		<main class="flex justify-center flex-col items-center gap-4 grow w-full">
			<slot/>
		</main>
		
	</body>
</html>